
#target {
	width: 40%;
	height: 40%;
	position: fixed;
}

.r6ngas {
	border-radius: 50%;
	position: absolute;
}

div:nth-child(1) {
	height: 100%;
	width: 100%;
	background-color: red;
}

div:nth-child(2) {
	height: 80%;
	width: 80%;
	background-color: white;
}

div:nth-child(3) {
	height: 60%;
	height: 60%;
	background-color: red;
}

div:nth-child(4) {
	height: 40%;
	height: 40%;
	background-color: white;
}

div:nth-child(5) {
	height: 20%;
	height: 20%;
	background-color: red;
}